/* vim: ft=css ts=2 et sw=0 sts=0 */

body {
  margin: 0;
  padding: 0;
  font-family: 'Fira Code', monospace;
  font-size: 14px;
  font-weight: 400;
  font-style: normal;
}

h1 {
  font-size: 2em;
  font-weight: 700;
}
h2 {
  font-size: 1.6em;
  font-weight: 700;
}
h3 {
  font-size: 1.4em;
  font-weight: 700;
}
h4 {
  font-size: 1.2em;
  font-weight: 700;
}
h5 {
  font-size: 1.1em;
  font-weight: 700;
}

nav {
  display: flex;
  background-color: #555;
  padding: 0 0;
}
nav a {
  color: white;
  text-decoration: none;
  padding: 10px 20px;
  margin: 0 0px;
}
nav a:hover {
  background-color: #88f;
}

main {
  padding: 0px 10px;
  margin: 0px 0px;
}

p code {
  background-color: #ddd;
  padding: 0px 3px 0px;
}
li code {
  background-color: #ddd;
  padding: 0px 3px 0px;
}
div pre code span {
  padding: 0px 0px 0px 0px;
}
div.highlight pre {
  margin:  0px 0px 0px 0px;
  border:  0px 0px 0px 0px;
  padding: 10px 10px 10px 10px;
}

