/* vim: ft=css ts=2 et sw=0 sts=0 */

/* =============================================================================
/* INFO
/* ========================================================================== */
/* padding: vertical
/* padding: vertical horizontal
/* padding: top horizontal bottom
/* padding: top right bottom left
 */


/* =============================================================================
/* TODO
/* ========================================================================== */
/* REVISIT: Media queries: https://wizardzines.com/comics/media-queries/ */

/* TODO: https://gomakethings.com/creating-a-semantic-color-palette/ */
/* TODO: https://www.howtogeek.com/get-a-clean-attractive-site-with-lines-of-css/ */


/* =============================================================================
/* CSS
/* ========================================================================== */
body {
  margin: 0;
  padding: 0;
  font-family: 'Cascadia Code PL', monospace;
  font-size: 14px;
  font-weight: 300;
  font-style: normal;
  background-color: #283050;
  color: #e0e8f8;
}

h1 {
  font-size: 2em;
  font-weight: 700;
}
h2 {
  font-size: 1.6em;
  font-weight: 700;
}
h3 {
  font-size: 1.4em;
  font-weight: 700;
}
h4 {
  font-size: 1.2em;
  font-weight: 700;
}
h5 {
  font-size: 1.1em;
  font-weight: 700;
}

a:link {
  color: #a0a0f8;
}
a:visited {
  color: #f0a0f8;
}

nav {
  font-weight: 400;
  display: flex;
  background-color: #555;
  padding: 0 0;
}

/* TODO: Figure out why this CSS isn't taking effect */
nav a:link {
  color: white;
  text-decoration: none;
  padding: 10px 20px;
  margin: 0 0px;
}
nav a:hover {
  background-color: #88f;
}

main {
  padding: 0px 10px;
  margin: 0px 0px;
}

p code {
  background-color: #24273a;
  color: #f5a97f;
  padding: 0px 3px 0px;
  border-radius: 3px;
}
li code {
  background-color: #24273a;
  color: #f5a97f;
  padding: 1px 3px 1px;
  border-radius: 3px;
}
div pre code span {
  padding: 0px 0px 0px 0px;
}
div.highlight pre {
  margin:  0px 0px 0px 0px;
  border:  0px 0px 0px 0px;
  padding: 10px 10px 10px 10px;
  border-radius: 8px;
}

