/* vim: ft=css ts=2 et sw=0 sts=0 */

@font-face {
  font-family: 'Cascadia Code PL';
  src: url('/assets/fonts/woff2/static/CascadiaCodePL-ExtraLight.woff2') format('woff2');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'Cascadia Code PL';
  src: url('/assets/fonts/woff2/static/CascadiaCodePL-Light.woff2') format('woff2');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Cascadia Code PL';
  src: url('/assets/fonts/woff2/static/CascadiaCodePL-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Cascadia Code PL';
  src: url('/assets/fonts/woff2/static/CascadiaCodePL-SemiBold.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Cascadia Code PL';
  src: url('/assets/fonts/woff2/static/CascadiaCodePL-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Cascadia Code PL';
  src: url('/assets/fonts/woff2/static/CascadiaCodePL-Italic.woff2') format('woff2');
  font-weight: 400;
  font-style: italic;
}

